{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="ui tiny modal" id="remove-category-dialog">
        <div class="ui header">
            Are you sure you want to delete this category?
        </div>
        <div class="content">
            <form class="ui form" id="thisform" action="{{ path('remove_category') }}" method="post">

                <input type="hidden" name="categoryId" id="categoryId" value="">
            </form>
        </div>
        <div class="actions">
            <div class="ui red cancel button">
                <i class="remove icon"></i>
                No
            </div>
            <button type="submit" class="ui green ok button" form="thisform">
                <i class="checkmark icon"></i>
                Yes
            </button>
        </div>
    </div>
    </form>
<div class="ui main text container">
    <h1 class="ui header">All Categories</h1>
    <a class="ui primary right floated button" href="{{ path('add_categories') }}">Add category</a>

    <h3>Do whatever you want: mash 'em, boil 'em, fry 'em, cook 'em</h3>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for category in pagination %}
        <tr>
            <td data-label="Name">{{ category.name }}</td>
            <td data-label="Description">{{ category.description }}</td>

            <td data-label="Action">
                <a class="ui button" href="{{ path('edit_categories',{'id' : category.id}) }}">Edit</a>
                <a class="open-modal negative ui button" data-id="{{ category.id }}">Remove</a>
            </td>
        </tr>
{% endfor %}
        </tbody>
    </table>
    <div class="ui right floated pagination menu">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).on("click", ".open-modal", function () {
            var categoryId = $(this).data('id');
            $(".ui.modal #categoryId").val(categoryId);
            $('.tiny.modal').modal('show');
        });
    </script>
{% endblock %}