{% extends 'base.html.twig' %}

{% block title %}Animals!{% endblock %}

{% block body %}
   <div class="ui container">
<a class="ui primary right floated button" href="{{ path('add_animal') }}">Add an Animal</a>
</div>
	<div class="ui main text container">
		<div class="ui relaxed divided list">
			{% for animal in pagination %}
				<div class="item">
					<div class="content">
						<a href="{{ path('edit_animal',{'id': animal.id}) }}" class="header">{{ animal.name }}, Type: {{animal.type}}</a>
						<div class="description">Born
							{{ animal.bornAt|date("m/d/Y") }}</div>
					</div>
						<a class="ui red left floated button" href="{{ path('remove_animal',{'id': animal.id}) }}">Delete</a>
				</div>
		
			{% endfor %}
		</div>

		<div class="ui right floated pagination menu">
			{{ knp_pagination_render(pagination) }}
		</div>

	</div>
{% endblock %}
