{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <div class="ui main text container">
        <a class="ui left labeled icon violet button" href="{{ path('browse_messages') }}"><i class="left arrow icon"></i>Back to Messages</a>
        <div>
            <span class="ui right floated button">to {{ message.sentTo.email }}</span>
            <span class="ui right floated button">from {{ message.sentFrom.email }}</span>
            <h1 class="ui header">{{ message.title }}</h1>
        </div>
        <div class="ui divider"></div>
        <p>{{ message.text }}</p>
        <p>Sent at {{ message.writtenAt|date('Y-m-d H:i') }}</p>
    </div>
{% endblock %}
