{% extends 'base.html.twig' %}

{% block title %}Animals!
{% endblock %}

{% block body %}
<a class="ui primary right floated button" href="{{ path('add_ad') }}">Add an Ad</a>
	<div class="ui main text container">
		<div class="ui relaxed divided list">
			{% for ad in pagination %}
				<div class="item">
					<div class="content">
						<a href="{{ path('view_ad',{'id': ad.id}) }}" class="header">{{ ad.title }} - {{ad.price}}$</a>
						<div class="description">Uploaded
							{{ ad.createdAt|date("m/d/Y") }}, viewed {{ ad.viewCount}} times</div>
					</div>
						<a class="ui red left floated button" href="{{ path('remove_ad',{'id': ad.id}) }}">Delete</a>
				</div>
		
			{% endfor %}
		</div>

		<div class="ui right floated pagination menu">
			{{ knp_pagination_render(pagination) }}
		</div>

	</div>


{% endblock %}
