{% extends 'base.html.twig' %}

{% block title %}Animals!
{% endblock %}

{% block body %}
    <div class="ui tiny modal" id="remove-ad-dialog">
        <div class="ui header">
            Are you sure you want to delete this category?
        </div>
        <div class="actions">
            <div class="ui red cancel button">
                <i class="remove icon"></i>
                No
            </div>
            <a id="submit-remove" class="ui green ok button" >
                <i class="checkmark icon"></i>
                Yes
            <a/>
        </div>
    </div>
{% if categories is defined %}
	<div class="ui container">
		<a class="ui primary right floated button" href="{{ path('add_ad') }}">Add an Ad</a>
		<form action="{{ path('filter_by_category') }}" method="post">
			<select name="category" class="ui dropdown right floated segment" id="category" onchange="this.form.submit()">
				<option value="">Select category</option>
				{% for category in categories %}
					{% if selectedCategory is defined and selectedCategory == category %}
						<option value={{ category.id }} selected>{{ category.name}}</option>
					{% else %}
						<option value={{ category.id }}>{{ category.name}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</form>
	</div>
		{% endif %}
	<div class="ui main text container">
		<div class="ui relaxed divided list">
			{% for ad in pagination %}
				{% if ad.ad is defined %}
					{% if ad.ad.boost is not null and ad.ad.boost.dateFrom|date('Y-m-d') <= "now"|date('Y-m-d') %}
						<div class="item boosted">
						{% else %}
							<div class="item">
							{% endif %}
							<div class="content">
								<a href="{{ path('view_ad',{'id': ad.ad.id}) }}" class="header">{{ ad.ad.title }}
									-
									{{ad.ad.price}}$</a>
								<div class="description">Uploaded
									{{ ad.ad.createdAt|date("m/d/Y") }}, viewed
									{{ ad.ad.viewCount}}
									times</div>
							</div>
							{% if ad.ad.createdBy ==  app.user %}
								<a class="ui red left floated button" href="{{ path('remove_ad',{'id': ad.ad.id}) }}">Delete</a>
							{% elseif is_granted('ROLE_ADMIN') %}
								<a class="open-modal red left floated button" data-link="{{ path('remove_ad',{'id': ad.ad.id}) }}">Delete</a>
							{% endif %}
						</div>

					{% else %}

						{% if ad.boost is not null and ad.boost.dateFrom|date('Y-m-d') <= "now"|date('Y-m-d') %}
							<div class="item boosted">
							{% else %}
								<div class="item">
								{% endif %}
								<div class="ui content">
									<a href="{{ path('view_ad',{'id': ad.id}) }}" class="header">{{ ad.title }}
										-
										{{ad.price}}$</a>
									<div class="description">Uploaded
										{{ ad.createdAt|date("m/d/Y") }}, viewed
										{{ ad.viewCount}}
										times</div>
								</div>
								{% if ad.createdBy == app.user %}
									<a class="ui red left floated button" href="{{ path('remove_ad',{'id': ad.id}) }}">Delete</a>
								{% elseif is_granted('ROLE_ADMIN') %}
									<a class="open-modal ui red left floated button" data-link="{{ path('remove_ad',{'id': ad.id}) }}">Delete</a>
								{% endif %}
							</div>
						{% endif %}
					{% endfor %}
				</div>

				<div class="ui right floated pagination menu">
					{{ knp_pagination_render(pagination) }}
				</div>

			</div>

		{% endblock %}

{% block javascripts %}
    <script>
		$('#category').dropdown();
        $(document).on("click", ".open-modal", function () {
            var link = $(this).data('link');
            $(".ui.modal #submit-remove").attr('href', link);
            $('.tiny.modal').modal('show');
        });
    </script>
{% endblock %}