{% extends 'base.html.twig' %}

{% block title %}Animals!
{% endblock %}

{% block body %}


    <div class="ui raised very padded text container segment">
        <div>
            <a class="ui right floated button" href="{{ path('contact', { id: ad.id }) }}">Contact Seller</a>
            <h2 class="ui header">{{ ad.title }}</h2>
        </div>
        <p>Price
            <b>{{ ad.price }}
                $</b>
        </p>
        <p>Type
            <b>{{ ad.type }}</b>
        </p>
        <p>{{ ad.description }}</p>
        <p>Created at
            <b>{{ ad.createdAt|date() }}</b>
        </p>
        <p>Viewed
            <b>{{ ad.viewCount }}
                times</b>
        </p>
        <p>Author:
            <b>{{ ad.createdBy.email }}</b>
        </p>
    </div>

    </div>
    <div class="ui main text container">
        <div class="ui buttons fluid">
            {% if savedAd == null %}
                <a class="ui right floated basic primary icon button" href="{{ path('save_ad',{'id': ad.id}) }}">Save Ad</a>
            {% else %}
                <a class="ui right floated basic primary button" href="{{ path('forget_ad',{'id': ad.id}) }}">Forget Ad</a>
            {% endif %}
            {% if ad.createdBy == app.user %}
                <a class="ui floated basic primary button" href="{{ path('edit_ad',{'id': ad.id}) }}">Edit Ad</a>
            {% endif %}
            <a class="ui right floated basic primary button">Subscribe Category</a>
            <a class="ui primary basic button right floated" href="{{ path('boost_ad', { 'id': ad.id }) }}">Boost</a>
            <a class="ui right floated basic primary button" href="{{ path('report_ad', { 'id': ad.id}) }}">Report Ad</a>
        </div>
        <div class="ui comments">
            <h3 class="ui dividing header">Comments</h3>
            {% for comment in cmts %}
                {% if comment.parentComment is null %}
                    <div class="comment">
                        <div style="padding-bottom: 0.5em" class="content">
                            <a class="author">{{ comment.writtenBy.firstName }}
                                {{ comment.writtenBy.lastName }}
                                ({{ comment.writtenBy.email }})</a>
                            <div class="metadata">
                                <span class="date">{{ comment.createdAt|date }}</span>
                            </div>
                            <div class="text">
                                {{ comment.text }}
                            </div>
                            {% if comment.getReplies()|length == 0 %}
                                {% if app.user %}
                                    {% if comment.writtenBy.id == app.user.id or is_granted('ROLE_ADMIN') %}
                                        <div style="padding-bottom: 1em;" class="actions">
                                        {% if comment.writtenBy.id == app.user.id %}
                                            <a class="reply"
                                               href="{{ path('editcomment', {'id': id,'commid': comment.id}) }}">Edit</a>
                                        {% endif %}
                                            <a class="reply"
                                               href="{{ path('deletecomment', {'id': id,'commid': comment.id}) }}">Delete</a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        {% for reply in comment.getReplies() %}
                            <div style="padding-bottom: 0.3em; margin-left: 1.3em; padding-top: 0.3em;"
                                 class="comments">
                                <div class="comment">
                                    <div class="content">
                                        <a class="author">{{ reply.writtenBy.firstName }}
                                            {{ reply.writtenBy.lastName }}
                                            ({{ reply.writtenBy.email }})</a>
                                        <div class="metadata">
                                            <span class="date">{{ reply.createdAt|date }}</span>
                                        </div>
                                        <div class="text">
                                            {{ reply.text }}
                                        </div>
                                        {% if app.user %}
                                            {% if reply.writtenBy.id == app.user.id or is_granted('ROLE_ADMIN') %}
                                                <div class="actions">
                                                {% if reply.writtenBy.id == app.user.id %}
                                                    <a class="reply"
                                                       href="{{ path('editcomment', {'id': id,'commid': reply.id}) }}">Edit</a>
                                                {% endif %}
                                                    <a class="reply"
                                                       href="{{ path('deletecomment', {'id': id,'commid': reply.id}) }}">Delete</a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div style="margin-left: 2.7em; margin-bottom: 0em;" class="actions">
                            <a class="reply"
                               href="{{ path('replycomment', {'id': '1','commid': comment.id}) }}">Reply</a>
                        </div>
                        <script>
                            $('.ui.accordion').accordion({active: false, collapsible: true});
                        </script>
                    </div>
                {% endif %}
            {% endfor %}
            <h3 class="ui dividing header">Add a new comment</h3>
            {{ form_start(form, { 'attr': {'class': 'ui large form'},'action': path('comment', {'id': id}), 'method': 'POST'}) }}
            {% if error.current %}
                <div class="ui negative message">
                    <i class="close icon"></i>
                    <div class="header" style="text-align: left">
                        There was a problem
                    </div>
                    {% for err in error %}
                        <p style="text-align: left">{{ err.messageTemplate }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="ui stacked segment">
                <div class="field">
                    <div style="height: 5em" class="ui input reply form">
                        {% if not app.user %}
                            {{ form_widget(form.text, { 'attr': { 'placeholder': 'You must be logged in to comment', 'disabled': true }}) }}
                        {% else %}
                            {{ form_widget(form.text) }}
                        {% endif %}
                    </div>
                </div>
                <button class="ui primary submit labeled icon button"
                        id="comment" {% if not app.user %} disabled {% endif %}>
                    <i class="icon edit"></i>Comment
                </button>
            </div>
            <div class="ui error message"></div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
